#span_Container {
    display: flex;
    width: auto;
    /* height: 55vh; */
    height: 92vh;
    justify-content: center;
    align-items: center;
    border: solid lightgray 1px;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    /* background-color: #649cbe; */
    margin-top: 1rem;
}

.card {
    color: black;
    height: 20vh;
    /* height: inherit; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    /* background-color: #2E5F7C; */
}

.card p {
    cursor: pointer;
    /* height: 55vh; */
    height: 92vh;
    width: 11.9rem;
    flex: 1;
    overflow: hidden;
    border-radius: 0.5rem;
    transition: all 5s;
    /* background-color: #649cbe; */
    border: solid lightgray 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p img {
    width: auto;
    height:max-content;
    border-radius: 8px;
    mask-image: linear-gradient(
            to bottom,
            black 0%,
            black 50%,
            transparent 75%  
        );
}

.card p span {
    min-width: 13em;
    text-align: center;
    transition: all 2s;
}

.card p:hover {
    flex: 17;
}

